@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-900 text-white font-sans overflow-hidden;
  }
}

@layer utilities {
  .holo-sheen {
    position: relative;
    overflow: hidden;
  }

  .holo-sheen::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent);
    transform: skewX(-25deg);
    animation: sheen 3s infinite;
    pointer-events: none;
  }

  @keyframes sheen {
    0% {
      left: -100%;
    }

    20% {
      left: 200%;
    }

    100% {
      left: 200%;
    }
  }
}